
<md-sidenav-container class="example-container">
  <md-toolbar>
    <button md-button (click)="sidenav.open()" class="menuButton">
      <i class="material-icons">menu</i>
    </button>
    <span>{{appTitle}}</span>
  </md-toolbar>
  <md-sidenav #sidenav>
     <button md-raised-button *ngFor="let m of navMenu" routerLink="/{{m.path}}" (click)="sidenav.close()">
      {{m.title}}      
    </button>
  </md-sidenav>
  <div class="my-content">
    <router-outlet></router-outlet>
  </div>
  
</md-sidenav-container>